body {
    margin: 0;
    font-family: "Montserrat", "Montserrat Alternates", sans-serif;

    background: {
        repeat: no-repeat;
        size: cover;
        attachment: fixed;
    }

    >.content {
        padding: 0;
        width: 100%;
        min-height: calc(100vh - 108px);
    }
}

input {
    display: none;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

hr {
    border: 0;
    border-bottom: 1px solid $gray-300;
}

.avatar {
    border-radius: 50%;
}

.anchorjs-link:after {
    font-family: "NerdFontsSymbols Nerd Font", sans-serif;
}

.flex {
    display: -webkit-box;
    display: flex;
}

.flex.flex-align-center {
    -webkit-box-align: center;
    align-items: center;
}

.flex.flex-space-between {
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.flex.flex-flex-end {
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.flex.flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.flex.flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.flex.flex-wrap {
    flex-wrap: wrap;
}

.flex-grow-1 {
    -webkit-box-flex: 1;
    flex-grow: 1;
}