// color

$white: #FFF;
$black: #000;
$shadow: rgba(0, 0, 0, .2);

$yellow-50 : #FFFDE7;
$yellow-100: #FFF9C4;
$yellow-200: #FFF59D;
$yellow-300: #FFF176;
$yellow-400: #FFEE58;
$yellow-500: #FFEB3B;
$yellow-600: #FDD835;
$yellow-700: #FBC02D;
$yellow-800: #F9A825;
$yellow-900: #F57F17;

$gray-50 : #FAFAFA;
$gray-100: #F5F5F5;
$gray-200: #EEEEEE;
$gray-300: #E0E0E0;
$gray-400: #BDBDBD;
$gray-500: #9E9E9E;
$gray-600: #757575;
$gray-700: #616161;
$gray-800: #424242;
$gray-900: #212121;

$light-blue-50 : #E1F5FE;
$light-blue-100: #B3E5FC;
$light-blue-200: #81D4FA;
$light-blue-300: #4FC3F7;
$light-blue-400: #29B6F6;
$light-blue-500: #03A9F4;
$light-blue-600: #039BE5;
$light-blue-700: #0288D1;
$light-blue-800: #0277BD;
$light-blue-900: #01579B;

// device width

$device-width-1: 540px;
$device-width-2: 800px;
$device-width-3: 1000px;
$device-width-4: 1100px;
$device-width-5: 1400px;