body {
    margin: 0;
    background-color: #FFFFFF;
    font-family: "Montserrat", "Montserrat Alternates", "Roboto", sans-serif;
}

body > div.content {
    padding: 0;
    width: 100%;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

.avatar {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.anchorjs-link:after {
    font-family: "NerdFontsSymbols Nerd Font", sans-serif;
    color: #f9a825;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}