div.information {
    padding: 0;
    color: #9E9E9E;
    font-size: .34rem;
    font-weight: 500;
    line-height: .46rem;
}

div.information > div > a {
    color: #9E9E9E;
    -webkit-transition: color .5s;
    -o-transition: color .5s;
    -moz-transition: color .5s;
    transition: color .5s;
}

div.information > div > a:hover {
    color: #F9A825;
    text-decoration: underline;
}

div.information > div > a > i {
    font-size: .4rem;
}