nav.page-link {
    text-align: right;
    padding-bottom: 1.4rem;
}

a.page-link > i {
    color: #616161;
    font-size: .8rem;
    padding: 0 .2rem;
    margin-left: .4rem;
    border: .08rem solid #616161;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

a.page-link:hover > i {
    color: #F9A825;
    border-color: #F9A825;
}