nav.page-link {
    text-align: right;
}

a.page-link {
}

a.page-link > i {
    color: #616161;
    padding: 0 .05rem;
    margin-left: .12rem;
    border: 4px solid #616161;
    border-radius: 10px;
    transition: all .4s ease-out;
}

a.page-link:hover > i {
    color: #F9A825;
    border-color: #F9A825;
}