div.single-header {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
}

div.single-header > img {
    display: block;
    width: 100%;
    height: 100%;
}

div.single-header > span.caption {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .01rem .02rem;
    color: #FFFFFF;
    font-size: 15px;
    background: black;
    z-index: 5;
    opacity: .65;
    border-radius: .03rem 0 0 0;
    font-weight: 400;
}

div.single-header > span.caption > a {
    color: #FFFFFF;
    font-weight: 500;
}

@media screen and (min-width: 1450px) {
    div.single-title {
        position: relative;
        background: #FFFFFF;
        width: 5rem;
        margin: -.5rem auto 0;
        padding: .01rem 1.1rem .12rem .6rem;
        border-radius: .01rem;
        box-shadow: 0 .03rem .12rem 0 rgba(0, 0, 0, .16);
        z-index: 10;
    }

    div.single-title > h1 {
        font-size: 40px;
    }

    div.single-title > img.avatar {
        height: 160px;
        float: right;
        transform: translate(.6rem, -160px);
    }

    div.single-information {
        padding-left: .35rem;
    }

    h2.subtitle {
        margin-top: -.1rem;
        margin-bottom: .04rem;
        margin-right: .2rem;
        font-size: 24px;
        font-weight: 500;
    }
}

@media screen and (max-width: 1450px) {
    div.single-title > img.avatar {
        display: none;
    }
}

div.single-title > div.share {
    position: absolute;
    bottom: 28px;
    right: 1.6rem;
}

div.single-title > div.share > a > i {
    color: #FFFFFF;
    border-radius: 50%;
    padding: 2px 9px;
    margin: 0 .01rem 0 0;
    background-color: #BDBDBD;
    transition: all .8s;
}

div.single-title > div.share > a:hover > i {
    background-color: #F9A825;
}

div.single-content {
    margin: 0 auto;
    max-width: 800px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

div.single-content table pre {
    margin: 0;
}

div.single-content pre {
    overflow-x: auto;
    padding: 2px 4px 2px 0;
}

div.single-content pre > code {
    font-size: 16px;
    font-family: "Source Code Pro", monospace;
}

div.single-content p {
    line-height: 32px;
}

div.single-content a {
    color: #039BE5;
    transition: all .6s;
}

div.single-content a:hover {
    color: #0288D1;
    background-color: #FAFAFA;
}

div.single-content img {
    width: 100%;
}

div.single-content p > code {
    border-radius: 8px;
    padding: 0 4px;
    color: #F57F17;
    background-color: #FFFDE7;
    font-family: "Roboto", sans-serif;
}

div.single-content blockquote {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 5px solid #FBC02D;
}

div.single-content table {
    margin: 20px 0 !important;
    background-color: #EEEEEE;
}

div.single-content table td, div.single-content table th {
    padding: 10px 16px 6px;
}

div.single-content table > thead > tr {
    background-color: #FAFAFA;
    transition: all .8s;
}

div.single-content table > tbody > tr:nth-child(odd) {
    background-color: #E0E0E0;
    transition: all .6s;
}

div.single-content table > tbody > tr:nth-child(even) {
    background-color: #FAFAFA;
    transition: all .8s;
}

div.single-content table > thead > tr:hover {
    background-color: #BDBDBD;
}

div.single-content table > tbody > tr:hover {
    background-color: #BDBDBD;
}

@media screen and (max-width: 1400px) {
    aside.TableOfContents {
        display: none;
    }
}

aside.TableOfContents {
    font-size: 18px;
    line-height: 26px;
    font-family: "Roboto", sans-serif;
    position: fixed;
    right: 0;
    top: 50px;
    height: 80%;
    width: 2rem;
    overflow-y: auto;
    transition: transform .6s;
}

nav#TableOfContents {
    margin-left: -40px;
}

nav#TableOfContents > ul > li {
    list-style: none;
}

nav#TableOfContents a {
    color: #9E9E9E;
    word-spacing: .004rem;
    padding: 1px 4px;
    border-radius: 4px;
    transition: color .8s, background-color .6s;
}

nav#TableOfContents a.active {
    color: #0288D1;
    word-spacing: 0;
    font-weight: 500;
}

nav#TableOfContents a:hover {
    color: #FFFFFF;
    background-color: #424242;
}