<!DOCTYPE html>
<html lang="{{ (.Site.LanguageCode | default "en") | safeHTML }}-{{ (.Site.Params.countryCode | default "US") | safeHTML }}">
<head>
    {{- with .Site.GoogleAnalytics -}}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ . | safeJS }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ . | safeJS }}');
    </script>
    {{- end -}}
    {{- partial "head.html" . -}}
    {{- block "head" . -}}{{- end -}}

    {{- $hasBg := false -}}
    {{- $bgFile := "" -}}
    {{- $spb := .Site.Params.background -}}
    {{- if eq .Kind "home" -}}
    {{- $hasBg = $spb.home -}}
    {{- $bgFile = $spb.name.home -}}
    {{- else if eq .Kind "page" -}}
    {{- $hasBg = $spb.page -}}
    {{- $bgFile = $spb.name.page -}}
    {{- else if eq .Kind "section" -}}
    {{- $hasBg = $spb.section -}}
    {{- $bgFile = $spb.name.section -}}
    {{- else if eq .Kind "taxonomy" -}}
    {{- $hasBg = $spb.taxonomy -}}
    {{- $bgFile = $spb.name.taxonomy -}}
    {{- else if eq .Kind "taxonomyTerm" -}}
    {{- $hasBg = $spb.taxonomyTerm -}}
    {{- $bgFile = $spb.name.taxonomyTerm -}}
    {{- end -}}
    {{- if eq $hasBg true -}}
    <style>
        body {
            background-image: url("/img/{{ $bgFile | safeCSS }}");
        }
    </style>
    {{- end -}}
</head>
<body>
{{- partial "navbar.html" . -}}
<div class="content" id="content">
    <div style="height: 53px;"></div>
    {{- block "main" . -}}{{- end -}}
</div>
{{- partial "site_js.html" . -}}
{{- block "foot" . -}}{{- end -}}
</body>
</html>
