<div class="list-item scroll-trigger">
    {{- $link := .RelPermalink -}}
    {{- if .CurrentSection.Params.info -}}
    {{- partial "information" . -}}
    {{- end -}}

    <div class="img-content">
        <a href="{{ $link }}">
            <img class="list-feature hvr-grow lazyload" data-src="/img/{{ .Params.Image.Name | safeHTML }}" alt="{{ .Title }}">
        </a>
    </div>

    <h2><a class="item-title" href="{{ $link }}">{{ .Title }}</a></h2>
    <h3 class="item-subtitle">{{ .Params.subtitle | markdownify | emojify }}</h3>
    <p class="item-summary">{{ .Params.summary | markdownify | emojify }}</p>

    <div class="flex flex-row flex-wrap flex-flex-end">
        {{- with .Params.tags -}}
        {{ range . }}
        <a class="item-tag" href="{{ (path.Join "/tags" (urlize .)) | relLangURL }}">
            <span>{{ . }}</span>
        </a>
        {{- end -}}
        {{- end -}}
    </div>
</div>
