{{- define "head" -}}

{{- partial "single_head.html" . -}}

{{- end -}}

{{- define "main" -}}

<div class="single-header">
    {{ if .Params.Image.Name }}
    <img src="/img/{{ .Params.Image.Name | safeHTML }}" alt="{{ .Params.Image.Caption }}">
    <span class="caption">{{ .Params.Image.Caption | markdownify | emojify }}</span>
    {{ end }}
</div>

<div class="single-title flex flex-align-center flex-space-between flex-row">
    <div class="flex flex-column flex-grow-1">
        <h1 class="single-title-h1">{{ .Title | markdownify | emojify }}</h1>
        <div class="single-information">
            <h2 class="subtitle">{{ .Params.Subtitle | markdownify | emojify }}</h2>
            <div class="flex flex-space-between flex-row">
                {{- partial "information" . -}}
                <div class="share flex flex-row flex-wrap flex-flex-end">
                    {{ range $.Site.Params.share }}
                    {{ $icon := index (where $.Site.Data.share.share "title" .) 0 }}
                    {{ $link := replace $icon.url "{url}" ($.Permalink | htmlEscape) }}
                    {{ $link = replace $link "{title}" ($.Title | htmlEscape) }}
                    <a href="{{ $link }}" target="_blank"><i class="nf nf-{{ $icon.icon_pack | safeHTML }}-{{ $icon.icon | safeHTML }}"></i></a>
                    {{- end -}}
                </div>
            </div>
        </div>
    </div>
    {{- if .Params.avatar -}}
    {{- $author_page_path := (printf "/author/%s" (anchorize .Params.avatarAuthor )) -}}
    {{- $author_page := .Site.GetPage $author_page_path -}}
    {{- $avatar := $author_page.Resources.GetMatch "avatar.*" -}}
    <img class="avatar" src="{{ with $avatar }}{{ .RelPermalink }}{{ end }}" alt="avatar">
    {{- end -}}
</div>

{{- with .Params.toc.enable -}}
<aside class="TableOfContents">
    <h2>{{ i18n "TableOfContents" }}</h2>
    <div class="js-toc"></div>
</aside>
{{- end -}}

<div class="single-content js-toc-content {{ if .Params.toc.enable }}with-toc{{ end }}">
    {{- .Content -}}
    {{- if .GitInfo -}}
    <p class="lastmod">{{ i18n "Lastmod" }} {{ .Lastmod.Format "2006-01-02 15:04:05" }}</p>
    {{- end -}}
    {{- if .Params.bio -}}
    <div class="authors">
        {{ range .Params.authors }}
        {{- $author_page_path := (printf "/author/%s" (anchorize . )) -}}
        {{- $author_page := $.Site.GetPage $author_page_path -}}
        {{- $avatar := $author_page.Resources.GetMatch "avatar.*" -}}
        <div class="author-card flex flex-align-center flex-row">
            <img class="avatar" src="{{ with $avatar }}{{ .RelPermalink }}{{ end }}" alt="{{ . }}">
            <div class="flex flex-column">
                <span><a href="{{ (path.Join "authors/" (anchorize . )) | relLangURL }}">{{ . }}</a></span>
                <span>{{ $author_page.Params.bio }}</span>
            </div>
        </div>
        {{- end -}}
    </div>
    {{- end -}}
    <div class="flex flex-space-between flex-row flex-wrap">
        <div class="section flex flex-space-between flex-row flex-grow-1 flex-wrap">
            {{- with .NextInSection -}}
            <a href="{{ .Permalink }}"><i class="nf nf-fa-arrow_circle_o_left"></i>{{ .Title }}</a>
            {{- end -}}
            <span></span>
        </div>
        <div class="section flex flex-space-between flex-row flex-grow-1 flex-wrap">
            <span></span>
            {{- with .PrevInSection -}}
            <a href="{{ .Permalink }}">{{ .Title }}<i class="nf nf-fa-arrow_circle_o_right"></i></a>
            {{- end -}}
        </div>
    </div>
    {{- if .Site.Params.postCopyright -}}
    <div class="post-copyright">
        {{- (replace .Site.Params.postCopyright "{{ .Permalink }}" .Permalink) | markdownify | emojify  -}}
    </div>
    {{- end -}}
    {{- if eq .Site.Params.comment.plugin 1 -}}
    {{- template "_internal/disqus.html" . -}}
    {{- else if eq .Site.Params.comment.plugin 2 -}}
    <div id="gitalk-container"></div>
    {{- end -}}
</div>

{{- end -}}

{{- define "foot" -}}

{{- partial "footer.html" . -}}
{{- partial "single_foot.html" . -}}
{{- partial "gitalk.html" . -}}

{{- end -}}