{{- define "head" -}}

{{- partial "list_head.html" . -}}

{{- end -}}

{{- define "main" -}}

<div class="list">
    <h1 class="list-title">{{ upper .Title }}</h1>
    {{- with .Content -}}
    <div class="list-content">{{ . }}</div>
    {{- end -}}
    {{- $paginator := .Paginate .Data.Pages.ByDate.Reverse -}}
    {{ range $paginator.Pages }}
    {{- if eq .Site.Params.view 1 -}}
    {{- .Render "li_card" -}}
    {{- else -}}
    {{- .Render "li_compact" -}}
    {{- end -}}
    {{- end -}}
    {{- partial "pagination" . -}}
</div>

{{- end -}}

{{- define "foot" }}

{{- partial "list_foot.html" . -}}

{{- end -}}