input.doc-side {
    display: none;
}

input.doc-side + div.nav-icon {
    display: none;
    z-index: 10;
    position: fixed;
    right: 24px;
    top: 100px;
}

input.doc-side + div.nav-icon span {
    background: #f9a825;
}

div.nav-icon-bg {
    display: none;
    position: fixed;
    top: 83px;
    right: 10px;
    height: 48px;
    width: 48px;
    background: #EEEEEE;
    z-index: 5;
    border-radius: 50%;
}

div.doc-aside {
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    height: calc(100vh - 60px);
}

@media (max-width: 1000px) {
    div.doc-aside div.share {
        display: none;
    }
}

@media (max-width: 800px) {
    input.doc-side + div.nav-icon, div.nav-icon-bg {
        display: block;
    }

    div.doc-header > h1 {
        display: none;
    }

    div.doc-aside, aside.doc-nav {
        width: 60vw;
        height: 100vh;
    }

    div.doc-aside {
        position: fixed;
        top: 0;
        left: -80vw;
        bottom: 0;
        z-index: 10;
        background-color: #FFFFFF;
        box-shadow: 8px 0 16px 0 rgba(0, 0, 0, .3);
        -webkit-transition: all .6s ease-out;
        transition: all .6s ease-out;
    }
}

@media (min-width: 800px) {
    div.doc-aside > div + div {
        border-top-right-radius: 42px;
        box-shadow: 2px 0 16px 0 rgba(0, 0, 0, .2);;
    }
}

div.doc-header {
    height: 80px;
    -webkit-box-align: end;
    align-items: flex-end;
}

div.doc-header > h1 {
    padding: 0 0 0 16px;
    margin: 0;
    font-size: 56px;
    font-weight: 700;
}

aside.doc-nav {
    font-family: "Roboto", sans-serif;
    max-width: 320px;
    min-width: 160px;
    padding: 12px 20px 0;
    overflow: auto;
    height: calc(100vh - 60px - 92px);
}

aside.doc-nav a {
    display: inline-block;
    color: #616161;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

aside.doc-nav a.active {
    color: #F9A825;
}

aside.doc-nav a:hover {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
}

aside.doc-nav ul {
    font-size: 27px;
    line-height: 40px;
    font-weight: 700;
    list-style: none;
}

aside.doc-nav ul ul {
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
}

aside.doc-nav ul ul ul {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    margin-left: 16px;
}

aside.TableOfContents.doc {
    height: calc(100vh - 60px - 80px);
}

aside.TableOfContents.doc > h2 {
    color: #F9A825;
}

aside.TableOfContents.doc > div {
    float: none;
    border-left: none;
}