div.list {
    margin: 0 auto;
    max-width: 920px;
    padding: 0 .4rem;
}

h1.list-title {
    font-size: 1rem;
    font-weight: 800;
    padding: 16px 0 12px;
    margin: 0;
}

div.list-item {
    border-radius: 16px;
    padding: .3rem .4rem .2rem;
    margin-bottom: 40px;
    box-shadow: 0 1px 16px 0 rgba(0, 0, 0, .2);
}

div.list-item > div.img-content {
    height: 0;
    padding-bottom: 50%;
    margin-top: .08rem;
    overflow: hidden;
    border-radius: 6px;
}

div.list-item img.list-feature {
    width: 100%;
}

div.list-item > h2 {
    margin: 0 0 16px;
}

div.list-item > h2 > a.item-title {
    color: #000;
    font-size: calc(.9rem - 14px);
    font-weight: 700;
    -webkit-transition: color .6s;
    transition: color .6s;
}

div.list-item > h2 > a.item-title:hover {
    color: #F9A825;
}

div.list-item > h3.item-subtitle {
    padding-left: .5rem;
    margin-top: -16px;
    margin-bottom: 4px;
    font-size: calc(.45rem + 2px);
    font-weight: 500;
}

div.list-item > p.item-summary {
    padding-left: .5rem;
    font-size: calc(.34rem + 2px);
    font-weight: 400;
    margin: 4px 0 8px;
}

div.list-item > div > a.item-tag {
    color: #F9A825;
    font-size: .3rem;
    font-weight: 600;
    border-radius: .18rem;
    padding: .05rem .15rem;
    border: .046rem solid #F9A825;
    margin-right: .16rem;
    margin-bottom: .1rem;
    display: inline-block;
    -webkit-transform: perspective(1px);
    transform: perspective(1px);
    -webkit-transition: all .5s;
    transition: all .5s;
}

div.list-item > div > a.item-tag:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F9A825;
    border-radius: 7px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

div.list-item > div > a.item-tag:hover {
    color: #fff;
}

div.list-item > div > a.item-tag:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

div.list-item > h2.terms {
    font-size: calc(.5rem + 8px);
}

/*noinspection ALL*/
ul.term-list {
    margin: 0 calc(1.8rem - 56px);
    list-style: none;
}

ul.term-list > li > div.line {
    height: 0;
    border-top: .05rem dotted #000;
}

ul.term-list > li > a, ul.term-list > li > span {
    font-weight: 500;
    margin: 0;
    line-height: .7rem;
    color: #000;
}

ul.term-list > li > a {
    font-size: .5rem;
    padding-right: .1rem;
    display: inline-block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
}

ul.term-list > li > a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background-color: #F9A825;
    height: 3px;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

ul.term-list > li > a:hover:before {
    right: 0;
}

ul.term-list > li > span {
    font-size: .3rem;
    color: #212121;
    padding-left: .1rem;
}

ul.term-list > li > i.read-more {
    padding-left: calc(.4rem + 8px);
}

ul.term-list > li.read-more {
    height: .3rem;
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
}

ul.term-list > li.read-more > span > a, ul.term-list > li.read-more > span > i {
    color: #000;
    font-size: calc(.22rem + 7px);
    -webkit-transition: all .6s;
    transition: all .6s;
}

ul.term-list > li.read-more > span > a {
    display: inline-block;
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
}

ul.term-list > li.read-more > span > i {
    font-size: calc(.22rem + 10px);
}

ul.term-list > li.read-more > span:hover > a, ul.term-list > li.read-more > span:hover > i {
    color: #F9A825;
}