div.scroll-line {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 3px;
    margin-bottom: -3px;
    background-color: #f9a825;
    width: 0;
    z-index: 30;
}

nav.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    min-height: 56px;
    line-height: 53px;
    background-color: #fff;
    box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 20;
    -webkit-transition: all .4s;
    transition: all .4s;
}

nav.header a {
    color: #000;
}

nav.header li {
    list-style: none;
}

ul.navigation {
    height: 53px;
    padding: 0 .6rem;
}

@media (min-width: 540px) {
    ul.navigation {
        padding: 0 100px;
    }
}

ul.navigation > li.left {
    padding-right: .6rem;
    font-size: calc(.2rem + 16px);
    font-weight: 700;
}

ul.navigation > li.center {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

@media (max-width: 1000px) {
    ul.navigation > li.center {
        display: none;
    }
}

ul.navigation > li > div {
    position: relative;
}

ul.navigation > li.center > div, ul.navigation > li > div > ul > li {
    padding: 0 20px;
}

ul.navigation > li.center > div > a {
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

ul.navigation > li.center > div:hover > a {
    color: #f9a825;
}

ul.navigation > li.center > div > a:before,
ul.navigation > li.center > div > a:after {
    position: absolute;
    left: 15%;
    margin: 9px 0;
    width: 70%;
    height: 3px;
    background-color: #f9a825;
    content: "";
    opacity: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

ul.navigation > li.center > div > a:before {
    top: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
}

ul.navigation > li.center > div > a:after {
    bottom: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
}

ul.navigation > li.center > div:hover > a:before,
ul.navigation > li.center > div:hover > a:after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}

ul.navigation > li > div > ul {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0 0 8px;
    background-color: #fff;
    margin-top: -4px;
    border-radius: 0 0 6px 6px;
    z-index: -10;
    -webkit-transform-origin: 100% 0 0;
    transform-origin: 100% 0 0;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: all .4s;
    transition: all .4s;
}

ul.navigation > li > div:hover > ul {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

ul.navigation > li > div > ul > li {
    font-size: 18px;
    float: none;
    height: 38px;
    text-align: center;
    position: relative;
}

ul.navigation > li > div > ul > li:before {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    background-color: #f9a825;
    height: 3px;
    -webkit-transition: all 0.8s cubic-bezier(0, 0, 0, 1);
    transition: all 0.8s cubic-bezier(0, 0, 0, 1);
}

ul.navigation > li > div > ul > li:hover:before {
    left: 20%;
    right: 20%;
}

ul.navigation > li.right > div {
    width: 100%;
    padding: 0 8px;
}

ul.navigation > li.right > div:hover {
    cursor: pointer;
}

ul.navigation > li.right > div > i {
    font-size: 30px;
    padding: 0 4px;
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}

ul.navigation > li.right > div.language:hover > i {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

ul.navigation a.language {
    width: 110px;
    font-size: 18px;
    font-weight: 500;
}

ul.navigation a.language > i {
    display: inline-block;
    font-size: 26px;
    padding-right: 2px;
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
}

ul.navigation > li.right > div.language > ul {
    -webkit-transform: translateX(20px) scaleY(0);
    transform: translateX(20px) scaleY(0);
}

ul.navigation > li.right > div.language:hover > ul {
    -webkit-transform: translateX(20px) scaleY(1);
    transform: translateX(20px) scaleY(1);
}

@media (max-width: 540px) {
    ul.navigation > li.right > div.language {
        display: none;
    }

    ul.navigation > li.right {
        margin-right: 20px;
    }

    ul.navigation > li.right > div {
        padding: 0 2px;
    }
}

@media (min-width: 1000px) {
    ul.navigation + label {
        display: none;
    }
}

@-webkit-keyframes showAnimation {
    0% {
        -webkit-transform: scaleY(0.1);
        transform: scaleY(0.1);
    }
    40% {
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }
    60% {
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }
    80% {
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }
    100% {
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }
    80% {
        -webkit-transform: scaleY(1.02);
        transform: scaleY(1.02);
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@keyframes showAnimation {
    0% {
        -webkit-transform: scaleY(0.1);
        transform: scaleY(0.1);
    }
    40% {
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }
    60% {
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }
    80% {
        -webkit-transform: scaleY(1.04);
        transform: scaleY(1.04);
    }
    100% {
        -webkit-transform: scaleY(0.98);
        transform: scaleY(0.98);
    }
    80% {
        -webkit-transform: scaleY(1.02);
        transform: scaleY(1.02);
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

ul.navigation + label > input:checked + div.nav-icon + ul.dropdown {
    max-height: 2000px;
    -webkit-animation: showAnimation .6s ease-in-out;
    animation: showAnimation .6s ease-in-out;
}

ul.dropdown {
    list-style-type: none;
    font-size: 22px;
    font-weight: 500;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .8s ease-in-out;
    transition: max-height .8s ease-in-out;
}

ul.dropdown ul {
    font-size: 20px;
}

ul.dropdown li {
    line-height: 44px;
}

ul.dropdown ul li {
    line-height: 40px;
}

ul.dropdown > li {
    border-top: 2px solid #f5f5f5;
}

ul.dropdown li a {
    padding: 0 1.2rem;
}

ul.dropdown li li a {
    padding-left: 1.8rem;
}

ul.dropdown > li > label > ul {
    max-height: 0;
    overflow: hidden;
    background-color: #fafafa;
    -webkit-transition: max-height .8s ease-in-out;
    transition: max-height .8s ease-in-out;
}

ul.dropdown > li.language > a > i {
    font-size: 22px;
}

input {
    display: none;
}

input[name="dropdown"]:checked + i + ul {
    max-height: 800px;
    -webkit-animation: showAnimation .6s ease-in-out;
    animation: showAnimation .6s ease-in-out;
}

input[name="dropdown"] + i {
    float: right;
    position: relative;
    right: 0.3rem;
    top: 10px;
    padding: 0 0.2rem;
    -webkit-transition: all .3s;
    transition: all .3s;
}

input[name="dropdown"]:checked + i {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

div.nav-icon {
    float: right;
    width: 20px;
    height: 15px;
    position: fixed;
    right: .4rem;
    top: 20px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    cursor: pointer;
}

div.nav-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #212121;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

div.nav-icon span:nth-child(1) {
    top: 0;
}

div.nav-icon span:nth-child(2),
div.nav-icon span:nth-child(3) {
    top: 6px;
}

div.nav-icon span:nth-child(4) {
    top: 12px;
}

input:checked + div.nav-icon span:nth-child(1) {
    top: 18px;
    width: 0;
    left: 50%;
}

input:checked + div.nav-icon span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

input:checked + div.nav-icon span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input:checked + div.nav-icon span:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%;
}

div.mask {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    z-index: 19;
    opacity: 0.5;
}

div.search, div.search > div:first-child, div.search > label, div.search > div:last-child, div.search > div:first-child > i {
    position: fixed;
}

div.search {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 21;
    display: none;
}

div.search > label, div.search > div:last-child {
    left: .4rem;
    right: .4rem;
}

div.search > div:first-child {
    top: 70px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: calc(1.6rem - 16px);
    font-weight: 500;
}

div.search > div:first-child > i {
    top: 30px;
    right: 6%;
}

div.search > label {
    -webkit-box-align: end;
    align-items: flex-end;
    top: calc(1.6rem + 80px);
    height: 40px;
    padding: 4px;
}

div.search > label > input {
    font-size: calc(.4rem + 10px);
    font-weight: 400;
    display: block;
    height: 100%;
    border: none;
    overflow: auto;
    border-bottom: .06rem solid rgba(249, 168, 37, .4);
    -webkit-transition: all .6s;
    transition: all .6s;
}

div.search > label > input:focus {
    border-bottom: .06rem solid rgba(249, 168, 37, 1);
}

div.search > label > i {
    padding-left: 4px;
    font-size: calc(.4rem + 22px);
    cursor: pointer;
    -webkit-transition: all .6s;
    transition: all .6s;
}

div.search > label > i:hover {
    color: #f9a825;
}

div.search > div:last-child {
    top: calc(1.6rem + 160px);
    bottom: 0;
    overflow-y: auto;
    margin-bottom: 80px;
}

@media (min-width: 1000px) {
    div.search > label, div.search > div:last-child {
        left: 20%;
        right: 20%;
    }
}

div.search > div:last-child > div {
    margin-bottom: .4rem;
}

div.search > div:last-child > div > h2.title, div.search > div:last-child > div > p.snippet {
    padding: 0;
    margin: 0;
    word-wrap: break-word;
}

div.search > div:last-child > div > h2.title > a {
    color: #000;
    font-size: calc(.4rem + 8px);
    font-weight: 500;
    -webkit-transition: all .6s;
    transition: all .6s;
}

div.search > div:last-child > div > h2.title > a:hover {
    color: #f9a825;
    text-decoration: underline;
}

div.search > div:last-child > div > p.snippet {
    font-size: .36rem;
}

div.search > div:last-child > p.warn {
    font-size: .38rem;
    text-align: center;
}

div.search > div:last-child em {
    background-color: #FFEB3B;
    border-radius: .12rem;
}