ul.pagination {
    list-style: none;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    flex-wrap: wrap;
}

ul.pagination > li {
    width: .7rem;
    text-align: center;
    background-color: #fff;
    border-top: .036rem solid #F9A825;
    border-bottom: .036rem solid #F9A825;
}

ul.pagination > li:first-child {
    border-left: .036rem solid #F9A825;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

ul.pagination > li:last-child {
    border-right: .036rem solid #F9A825;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

ul.pagination > li > a {
    color: #F9A825;
    font-size: .5rem;
    font-weight: 500;
}

ul.pagination > li.disabled > a {
    color: #BDBDBD;
}

ul.pagination > li.active, ul.pagination > li:hover:not(.disabled) {
    background-color: #F9A825;
}

ul.pagination > li.active > a, ul.pagination > li:hover:not(.disabled) > a {
    color: #fff;
}

ul.pagination > li, ul.pagination > li > a > span, ul.pagination > li > a {
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}