<link rel="stylesheet" href="/css/swiper.min.css">
{{- $scss_options := (dict "outputStyle" "compressed") -}}
<link rel="stylesheet" href="{{ ((resources.Get "scss/single.scss") | toCSS $scss_options | fingerprint).RelPermalink }}">
<link rel="stylesheet" href="{{ ((resources.Get "scss/author.scss") | toCSS $scss_options | fingerprint).RelPermalink }}">
<style>{{ (((resources.Get "scss/color/single.scss") | toCSS $scss_options).Content) | safeCSS }}</style>
<style>{{ (((resources.Get "scss/color/author.scss") | toCSS $scss_options).Content) | safeCSS }}</style>

<style>
    .right > .swiper-container {
        width: 100%;
        height: auto;
        padding-bottom: 16px;
    }

    .right .swiper-wrapper {
        width: 0;
    }

    .right .swiper-button-next, .right .swiper-button-prev {
        color: #000000;
    }

    .swiper-pagination > span {
        background: #000000
    }

    .swiper-button-next::after, .swiper-button-prev::after {
        font-size: .7rem;
    }

    @media (max-width: 540px) {
        .swiper-button-next, .swiper-button-prev {
            width: 0;
        }

        .swiper-slide > .term-list {
            padding: 0 .5rem;
        }
    }
</style>