<style>
    /* In some case, the css rule in file can ont bu read.(see https://stackoverflow.com/questions/49161159/uncaught-domexception-failed-to-read-the-rules-property-from-cssstylesheet)
     * Therefore, the darkrender will be invalid.
     * My solution is making the color rule inline.
     */

    /* background-color */

    body,
    nav.header,
    ul.navigation > li > div > ul,
    div.search,
    ul.pagination > li {
        background-color: #fff;
    }

    div.search > div:last-child em {
        background-color: #FFEB3B;
    }


    input.doc-side + div.nav-icon span,
    div.list-item > div > a.item-tag:before,
    ul.term-list > li > a:before,
    div.scroll-line,
    ul.navigation > li.center > div > a:before,
    ul.navigation > li.center > div > a:after,
    ul.navigation > li > div > ul > li:before,
    div.circles > span,
    ul.pagination > li.active, ul.pagination > li:hover:not(.disabled),
    div.share > a:hover > i {
        background-color: #f9a825;
    }

    div.single-header > span.caption {
        background-color: rgba(0, 0, 0, .5);
    }

    div.nav-icon-bg,
    div.single-content table {
        background-color: #EEEEEE;
    }

    div.share > a > i,
    div.single-content table > thead > tr:hover,
    div.single-content table > tbody > tr:hover {
        background-color: #BDBDBD;
    }

    ul.dropdown > li > label > ul,
    div.single-content a:hover,
    div.single-content table > thead > tr,
    div.single-content table > tbody > tr:nth-child(even) {
        background-color: #FAFAFA;
    }

    div.single-content table > tbody > tr:nth-child(odd) {
        background-color: #E0E0E0;
    }

    div.single-content *:not(pre) > code {
        background-color: #FFFDE7;
    }

    div.single-content blockquote {
        background-color: #F5F5F5;
    }

    aside.TableOfContents a:hover {
        background-color: #424242;
    }

    div.single-content > div.post-copyright {
        color: #f9a825;
        background-color: #FFF9C4;
    }

    div.nav-icon span {
        background-color: #212121;
    }


    div.mask {
        background-color: #000;
    }

    @media (max-width: 800px) {
        div.doc-aside {
            background-color: #fff;
        }
    }

    @media (min-width: 540px) {
        div.single-title {
            background-color: #fff;
        }
    }

    /* color */

    ul.pagination > li.active > a, ul.pagination > li:hover:not(.disabled) > a,
    div.circles > div,
    div.circles > div:first-child + div + div > a,
    div.list-item > div > a.item-tag:hover,
    div.single-header > span.caption,
    div.single-header > span.caption > a,
    div.share > a > i,
    aside.TableOfContents a:hover {
        color: #fff;
    }

    div.single-content *:not(pre) > code {
        color: #F57F17;
    }

    ul.pagination > li > a,
    .anchorjs-link:after,
    aside.doc-nav a.active,
    aside.TableOfContents.doc > h2,
    footer a,
    div.list-item > h2 > a.item-title:hover,
    div.list-item > div > a.item-tag,
    ul.term-list > li.read-more > span:hover > a,
    ul.term-list > li.read-more > span:hover > i,
    ul.navigation > li.center > div:hover > a,
    div.search > label > i:hover,
    div.search > div:last-child > div > h2.title > a:hover,
    aside.TableOfContents a.is-active-link,
    div.single-content > div.post-copyright {
        color: #F9A825;
    }

    div.author-container > div.left > div.role {
        color: #9E9E9E;
    }

    ul.pagination > li.disabled > a {
        color: #BDBDBD;
    }

    div.information,
    div.information > div > a,
    div.information > div > a:hover {
        color: #9E9E9E;
    }

    div.author-container > div.left > ul.education > li > div.institution {
        color: #757575;
    }

    aside.doc-nav a,
    aside.TableOfContents a {
        color: #616161;
    }

    div.author-container > div.left > div.organization > a,
    div.single-content > p.lastmod {
        color: #424242;
    }

    div.author-container > div.left > ul.social > li > a,
    ul.term-list > li > span {
        color: #212121;
    }

    div.list-item > h2 > a.item-title,
    ul.term-list > li > a, ul.term-list > li > span,
    ul.term-list > li.read-more > span > a,
    ul.term-list > li.read-more > span > i,
    nav.header a,
    div.search > div:last-child > div > h2.title > a {
        color: #000;
    }

    div.single-content a {
        color: #039BE5;
    }

    div.single-content a:hover {
        color: #0288D1;
    }

    /* Aplayer */

    .aplayer,
    .aplayer.aplayer-fixed .aplayer-body {
        background: #fff;
    }

    .aplayer .aplayer-pic .aplayer-button {
        background: rgba(0, 0, 0, .2);
    }

    .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar {
        background: #cdcdcd
    }

    .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-loaded,
    .aplayer .aplayer-info .aplayer-controller .aplayer-volume-wrap .aplayer-volume-bar-wrap .aplayer-volume-bar {
        background: #aaa;
    }

    .aplayer .aplayer-lrc:before {
        background: linear-gradient(180deg, #fff 0, hsla(0, 0%, 100%, 0));
    }

    .aplayer .aplayer-lrc:after {
        background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, .8));
    }

    .aplayer .aplayer-list ol::-webkit-scrollbar-thumb {
        background-color: #eee
    }

    .aplayer .aplayer-list ol::-webkit-scrollbar-thumb:hover {
        background-color: #ccc
    }

    .aplayer .aplayer-list ol li:hover {
        background: #efefef
    }

    .aplayer .aplayer-list ol li.aplayer-list-light {
        background: #e9e9e9
    }

    .aplayer .aplayer-notice {
        background-color: #f4f4f5;
    }

    .aplayer .aplayer-miniswitcher {
        background: #e6e6e6;
    }

    .aplayer .aplayer-info .aplayer-music .aplayer-author {
        color: #666
    }

    .aplayer .aplayer-info .aplayer-controller .aplayer-time {
        color: #999;
    }

    .aplayer .aplayer-lrc p,
    .aplayer .aplayer-list ol li .aplayer-list-index,
    .aplayer .aplayer-list ol li .aplayer-list-author {
        color: #666;
    }

    .aplayer .aplayer-notice {
        color: #fff;
        color: #909399
    }

    {{- if and (eq .Site.Params.comment.plugin 2) (eq .Kind "page") -}}

    /* gitalk */

    .markdown-body {
        color: #24292e;
    }

    .markdown-body .pl-c {
        color: #6a737d;
    }

    .markdown-body .pl-c1,
    .markdown-body .pl-s .pl-v {
        color: #005cc5;
    }

    .markdown-body .pl-e,
    .markdown-body .pl-en {
        color: #6f42c1;
    }

    .markdown-body .pl-smi,
    .markdown-body .pl-s .pl-s1 {
        color: #24292e;
    }

    .markdown-body .pl-ent {
        color: #22863a;
    }

    .markdown-body .pl-k {
        color: #d73a49;
    }

    .markdown-body .pl-s,
    .markdown-body .pl-pds,
    .markdown-body .pl-s .pl-pse .pl-s1,
    .markdown-body .pl-sr,
    .markdown-body .pl-sr .pl-cce,
    .markdown-body .pl-sr .pl-sre,
    .markdown-body .pl-sr .pl-sra {
        color: #032f62;
    }

    .markdown-body .pl-v,
    .markdown-body .pl-smw {
        color: #e36209;
    }

    .markdown-body .pl-bu {
        color: #b31d28;
    }

    .markdown-body .pl-ii {
        color: #fafbfc;
        background-color: #b31d28;
    }

    .markdown-body .pl-c2 {
        color: #fafbfc;
        background-color: #d73a49;
    }

    .markdown-body .pl-sr .pl-cce {
        color: #22863a;
    }

    .markdown-body .pl-ml {
        color: #735c0f;
    }

    .markdown-body .pl-mh,
    .markdown-body .pl-mh .pl-en,
    .markdown-body .pl-ms {
        color: #005cc5;
    }

    .markdown-body .pl-mi {
        color: #24292e;
    }

    .markdown-body .pl-mb {
        color: #24292e;
    }

    .markdown-body .pl-md {
        color: #b31d28;
        background-color: #ffeef0;
    }

    .markdown-body .pl-mi1 {
        color: #22863a;
        background-color: #f0fff4;
    }

    .markdown-body .pl-mc {
        color: #e36209;
        background-color: #ffebda;
    }

    .markdown-body .pl-mi2 {
        color: #f6f8fa;
        background-color: #005cc5;
    }

    .markdown-body .pl-mdr {
        color: #6f42c1;
    }

    .markdown-body .pl-ba {
        color: #586069;
    }

    .markdown-body .pl-sg {
        color: #959da5;
    }

    .markdown-body .pl-corl {
        color: #032f62;
    }

    .markdown-body a {
        color: #0366d6;
    }

    .markdown-body hr {
        background-color: #e1e4e8;
    }

    .markdown-body blockquote {
        color: #6a737d;
    }

    .markdown-body kbd {
        color: #444d56;
        background-color: #fafbfc;
    }

    .markdown-body h1 .octicon-link,
    .markdown-body h2 .octicon-link,
    .markdown-body h3 .octicon-link,
    .markdown-body h4 .octicon-link,
    .markdown-body h5 .octicon-link,
    .markdown-body h6 .octicon-link {
        color: #1b1f23;
    }

    .markdown-body h6 {
        color: #6a737d;
    }

    .markdown-body table tr {
        background-color: #fff;
    }

    .markdown-body table tr:nth-child(2n) {
        background-color: #f6f8fa;
    }

    .markdown-body img {
        background-color: #fff;
    }

    .markdown-body code {
        background-color: rgba(27, 31, 35, 0.05);
    }

    .markdown-body .highlight pre,
    .markdown-body pre {
        background-color: #f6f8fa;
    }

    .markdown-body .full-commit .btn-outline:not(:disabled):hover {
        color: #005cc5;
    }

    .markdown-body kbd {
        color: #444d56;
        background-color: #fafbfc;
    }

    .gt-container a {
        color: #6190e8;
    }

    .gt-container a:hover {
        color: #81a6ed;
    }

    .gt-container a.is--active {
        color: #333;
    }

    .gt-container a.is--active:hover {
        color: #333;
    }

    .gt-container .gt-svg svg {
        fill: #6190e8;
    }

    .gt-container .gt-loader:before {
        background-color: #999;
    }

    .gt-container .gt-btn {
        background-color: #6190e8;
        color: #fff;
    }

    .gt-container .gt-btn-preview {
        background-color: #fff;
        color: #6190e8;
    }

    .gt-container .gt-btn-preview:hover {
        background-color: #f2f2f2;
    }

    .gt-container .gt-btn-public:hover {
        background-color: #81a6ed;
    }

    .gt-container .gt-error {
        color: #ff3860;
    }

    .gt-container .gt-user .is--poping .gt-ico svg {
        fill: #6190e8;
    }

    .gt-container .gt-version {
        color: #a1a1a1;
    }

    .gt-container .gt-popup {
        background: #fff;
    }

    .gt-container .gt-popup .gt-action.is--active:before {
        background: #6190e8;
    }

    .gt-container .gt-header-textarea {
        background-color: #f6f6f6;
    }

    .gt-container .gt-header-textarea:hover {
        background-color: #fbfbfb;
    }

    .gt-container .gt-header-preview {
        background-color: #f6f6f6;
    }

    .gt-container .gt-header-controls-tip {
        color: #6190e8;
    }

    .gt-container.gt-input-focused:after {
        background: #000;
    }

    .gt-container .gt-comment-content {
        background-color: #f9f9f9;
    }

    .gt-container .gt-comment-username {
        color: #6190e8;
    }

    .gt-container .gt-comment-text {
        color: #a1a1a1;
    }

    .gt-container .gt-comment-date {
        color: #a1a1a1;
    }

    .gt-container .gt-comment-body {
        color: #333 !important;
    }

    .gt-container .gt-comment-body .email-hidden-toggle a {
        color: #444d56;
        background: #dfe2e5;
    }

    .gt-container .gt-comment-body .email-hidden-toggle a:hover {
        background-color: #c6cbd1;
    }

    .gt-container .gt-comment-body .email-hidden-reply .email-signature-reply {
        color: #586069;
    }

    .gt-container .gt-comment-admin .gt-comment-content {
        background-color: #f6f9fe;
    }

    {{- end -}}
</style>