<style>
    /* In some case, the css rule in file can ont bu read.(see https://stackoverflow.com/questions/49161159/uncaught-domexception-failed-to-read-the-rules-property-from-cssstylesheet)
     * Therefore, the darkrender will be invalid.
     * My solution is making the color rule inline.
     */

    /* background-color */

    body,
    nav.header,
    ul.navigation > li > div > ul,
    div.search,
    ul.pagination > li {
        background-color: #fff;
    }

    div.search > div:last-child em {
        background-color: #FFEB3B;
    }


    input.doc-side + div.nav-icon span,
    div.list-item > div > a.item-tag:before,
    ul.term-list > li > a:before,
    div.scroll-line,
    ul.navigation > li.center > div > a:before,
    ul.navigation > li.center > div > a:after,
    ul.navigation > li > div > ul > li:before,
    div.circles > span,
    ul.pagination > li.active, ul.pagination > li:hover:not(.disabled),
    div.share > a:hover > i {
        background-color: #f9a825;
    }

    div.single-header > span.caption {
        background-color: rgba(0, 0, 0, .5);
    }

    div.nav-icon-bg,
    div.single-content table {
        background-color: #EEEEEE;
    }

    div.share > a > i,
    div.single-content table > thead > tr:hover,
    div.single-content table > tbody > tr:hover {
        background-color: #BDBDBD;
    }

    ul.dropdown > li > label > ul,
    div.single-content a:hover,
    div.single-content table > thead > tr,
    div.single-content table > tbody > tr:nth-child(even) {
        background-color: #FAFAFA;
    }

    div.single-content table > tbody > tr:nth-child(odd) {
        background-color: #E0E0E0;
    }

    div.single-content *:not(pre) > code {
        background-color: #FFFDE7;
    }

    div.single-content blockquote {
        background-color: #F5F5F5;
    }

    aside.TableOfContents a:hover {
        background-color: #424242;
    }

    div.single-content > div.post-copyright {
        color: #f9a825;
        background-color: #FFF9C4;
    }

    div.nav-icon span {
        background-color: #212121;
    }


    div.mask {
        background-color: #000;
    }

    @media (max-width: 800px) {
        div.doc-aside {
            background-color: #fff;
        }
    }

    @media (min-width: 540px) {
        div.single-title {
            background-color: #fff;
        }
    }

    /* color */

    ul.pagination > li.active > a, ul.pagination > li:hover:not(.disabled) > a,
    div.circles > div,
    div.circles > div:first-child + div + div > a,
    div.list-item > div > a.item-tag:hover,
    div.single-header > span.caption,
    div.single-header > span.caption > a,
    div.share > a > i,
    aside.TableOfContents a:hover {
        color: #fff;
    }

    div.single-content *:not(pre) > code {
        color: #F57F17;
    }

    ul.pagination > li > a,
    .anchorjs-link:after,
    aside.doc-nav a.active,
    aside.TableOfContents.doc > h2,
    footer a,
    div.list-item > h2 > a.item-title:hover,
    div.list-item > div > a.item-tag,
    ul.term-list > li.read-more > span:hover > a,
    ul.term-list > li.read-more > span:hover > i,
    ul.navigation > li.center > div:hover > a,
    div.search > label > i:hover,
    div.search > div:last-child > div > h2.title > a:hover,
    aside.TableOfContents a.is-active-link,
    div.single-content > div.post-copyright {
        color: #F9A825;
    }

    div.author-container > div.left > div.role {
        color: #9E9E9E;
    }

    ul.pagination > li.disabled > a {
        color: #BDBDBD;
    }

    div.information,
    div.information > div > a,
    div.information > div > a:hover {
        color: #9E9E9E;
    }

    div.author-container > div.left > ul.education > li > div.institution {
        color: #757575;
    }

    aside.doc-nav a,
    aside.TableOfContents a {
        color: #616161;
    }

    div.author-container > div.left > div.organization > a,
    div.single-content > p.lastmod {
        color: #424242;
    }

    div.author-container > div.left > ul.social > li > a,
    ul.term-list > li > span {
        color: #212121;
    }

    div.list-item > h2 > a.item-title,
    ul.term-list > li > a, ul.term-list > li > span,
    ul.term-list > li.read-more > span > a,
    ul.term-list > li.read-more > span > i,
    nav.header a,
    div.search > div:last-child > div > h2.title > a {
        color: #000;
    }

    div.single-content a {
        color: #039BE5;
    }

    div.single-content a:hover {
        color: #0288D1;
    }
</style>