<meta charset="UTF-8">
<title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

{{- partial "head_metadata.html" . -}}

<link rel="stylesheet" href="{{ ((resources.Get "fonts/Montserrat/Montserrat-custom.css") | minify | fingerprint).RelPermalink }}">
<link rel="stylesheet" href="{{ ((resources.Get "fonts/Nerd Fonts/nerd-fonts-generated-custom.css") | minify | fingerprint).RelPermalink }}">

{{- $scss_options := (dict "outputStyle" "compressed") -}}
<link rel="stylesheet" href="{{ ((resources.Get "scss/head.scss") | toCSS $scss_options | fingerprint).RelPermalink }}">
<style>{{ (((resources.Get "scss/color/head.scss") | toCSS $scss_options).Content) | safeCSS }}</style>

{{- partial "flexible_js.html" -}}

{{- if .Site.Params.dark_mode -}}
<script src="/js/darkreader.min.js"></script>
<script>
    let darkMode = localStorage.getItem("darkMode");
    if (darkMode === '0') DarkReader.enable();
    else DarkReader.disable();

    function DarkMode() {
        if (darkMode === '0') {
            DarkReader.disable();
            darkMode = '1';
        } else {
            DarkReader.enable();
            darkMode = '0';
        }
        localStorage.setItem("darkMode", darkMode);
    }
</script>
{{- end -}}