<div class="information">
    <div>
        {{- with .Params.authors -}}
        {{- $len := len . -}}
        {{ range $index, $val := . }}
        <a href="/{{ $.Language }}/authors/{{ . | urlize }}">
            <span>{{ $val }}</span>
        </a>
        {{- with ne $index (sub $len 1) -}}
        <span class="separate separate-comma"></span>
        {{- end -}}
        {{- end -}}
        {{- end -}}

        <span class="separate-hyphen-minus"></span>

        {{- with .Params.categories -}}
        {{- $len := len . -}}
        {{ range $index, $val := . }}
        <a href="/{{ $.Language }}/categories/{{ . | urlize }}">
            <i class="nf nf-fa-folder_o"></i>
            <span>{{ $val }}</span>
        </a>
        {{- with ne $index (sub $len 1) -}}
        <span class="separate separate-middle-dot"></span>
        {{- end -}}
        {{- end -}}
        {{- end -}}
    </div>
    <div>
        {{- $date := .Params.date -}}
        <span>{{ i18n ($date.Format "Mon") }}&nbsp&nbsp</span>
        <span>{{ $date.Format "02" }} {{ i18n ($date.Format "Jan") }} {{ $date.Format "2006" }}&nbsp&nbsp</span>
        <span>{{ $date.Format "15:04:05 MST" }}</span>
        <span class="separate separate-middle-dot"></span>
        <span>{{ .WordCount }} {{ i18n "Words" }}</span>
    </div>
</div>