<link rel="stylesheet" href="/css/APlayer.min.css">
<script src="/js/APlayer.min.js"></script>
<script src="/js/Meting.min.js"></script>

<meting-js
    id = "{{ .id | safeHTML }}"
    server = "{{ .server | safeHTML }}"
    type = "{{ .type | safeHTML }}"
    fixed = "{{ .fixed | safeHTML }}"
    mini = "{{ .mini | safeHTML }}"
    autoplay = "{{ .autoplay | safeHTML }}"
    theme = "{{ .theme | safeHTML }}"
    loop = "{{ .loop | safeHTML }}"
    order = "{{ .order | safeHTML }}"
    preload = "{{ .preload | safeHTML }}"
    volume = "{{ .volume | safeHTML }}"
    mutex = "{{ .mutex | safeHTML }}"
    lrc-type = "{{ .lrcType | safeHTML }}"
    list-folded = "{{ .listFolded | safeHTML }}"
    list-max-height = "{{ .listMaxHeight | safeHTML }}"
></meting-js>