<div class="scroll-line"></div>
<nav class="header">
    <ul class="navigation">
        <li class="left hvr-buzz-out">
            <a href="/{{ .Language }}">{{ .Site.Title }}</a>
        </li>
        {{ range .Site.Menus.main }}
        <li class="center">
            <a {{ with .URL }} href="{{ . }}" {{ end }}>{{ .Name }}</a>
            {{ if .HasChildren }}
            <ul>
                {{ range .Children }}
                <li><a {{ with .URL }} href="{{ . }}" {{ end }}>{{ .Name }}</a></li>
                {{ end }}
            </ul>
            {{ end }}
        </li>
        {{ end }}
    </ul>
    <label>
        <input id="dropdown-menu" type="checkbox" oninput="Dropdown(this.checked)">
        <div class="nav-icon">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="dropdown">
            {{ range .Site.Menus.main }}
            <li>
                <a {{ with .URL }} href="{{ . }}" {{ end }}>{{ .Name }}</a>
                {{ if .HasChildren }}
                <label>
                    <input type="radio" name="dropdown">
                    <i class="nf nf-18 nf-mdi-chevron_left"></i>
                    <ul>
                        {{ range .Children }}
                        <li><a {{ with .URL }} href="{{ . }}" {{ end }}>{{ .Name }}</a></li>
                        {{ end }}
                    </ul>
                </label>
                {{ end }}
            </li>
            {{ end }}
        </ul>
    </label>
</nav>
<div class="mask"></div>