<style>
    .list-item.visible, .list-item.invisible {
        -webkit-transition: opacity .6s ease-in, -webkit-transform .6s ease-in;
        transition: opacity .6s ease-in, -webkit-transform .6s ease-in;
        transition: transform .6s ease-in, opacity .6s ease-in;
        transition: transform .6s ease-in, opacity .6s ease-in, -webkit-transform .6s ease-in;
    }

    .list-item.invisible {
        -webkit-transform: translateX(-40px);
        transform: translateX(-40px);
        opacity: 0;
    }

    .list-item.visible {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
</style>

<script src="/js/ScrollTrigger.min.js"></script>
<script>
    const scrollTrigger = new ScrollTrigger.default({
        trigger: {
            once: true,
            offset: {
                viewport: {
                    y: .2
                }
            },
        },
    });

    scrollTrigger.add('[list-item-data-trigger]');
</script>