<script src="/js/onscroll.js"></script>

{{- if or (eq .Site.Params.search.engine 1) (eq .Site.Params.search.engine 2) -}}
<script>
    const searchDisplay = document.getElementsByClassName('search')[0].style;
    const searchText = document.getElementById('search-text');
    const searchResult = document.getElementById('search-result');
    const http = new XMLHttpRequest();

    function showSearch() {
        searchDisplay.display = 'block';
    }

    function hideSearch() {
        searchDisplay.display = 'none';
    }

    function getSearchResult() {
        let url = 'https://www.googleapis.com/customsearch/v1';
        url += '?key={{ .Site.Params.search.google.key | safeJS }}';
        url += '&cx={{ .Site.Params.search.google.cx | safeJS }}';
        url += '&q=' + searchText.value;
        url += '&fields=items(title,link,snippet)';
        console.log(url);
        http.open('GET', url);
        http.send();
        http.onreadystatechange = () => {
            if (http.status === 200) {
                console.log("sadsad");
                console.log(http.responseText);
                searchResult.innerHTML = '';
                let res = JSON.parse(http.responseText);
                if ('items' in res) {
                    let items = res.items;
                    let length = items.length;
                    for (let i = 0; i < length; ++i) {
                        searchResult.innerHTML += '<div><h2 class="title"><a href="' + items[i].link + '">' + items[i].title + '</a></h2><p class="snippet">' + items[i].snippet + '</p></div>';
                    }
                }
            }
        };
    }
</script>
{{- end -}}

{{- if .Site.Params.math -}}
<link rel="stylesheet" href="/css/katex.min.css">
<script src="/js/katex.min.js"></script>
<script src="/js/auto-render.min.js"
        onload="renderMathInElement(document.body,{delimiters:[{left:'$$',right:'$$',display:true},{left:'$',right:'$',display:false}]});"></script>
{{- end -}}

{{- if .Site.Params.diagram -}}
<script src="/js/mermaid.min.js" onload="mermaid.initialize({startOnLoad:true});"></script>
{{- end -}}

{{- template "_internal/google_analytics_async.html" . -}}