<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default " en-us" }}">

<head>
    <meta charset="UTF-8">
    <title>{{ i18n "PageNotFound" }} | {{ .Site.Title }}</title>

    {{- partial "head_metadata.html" . -}}

    <link rel="stylesheet" href="/fonts/Montserrat/Montserrat-custom.css">

    {{- $scss_options := (dict "outputStyle" "compressed") -}}
    <link rel="stylesheet" href="{{ ((resources.Get "scss/404.scss") | toCSS $scss_options | fingerprint).RelPermalink }}">

    {{- partial "flexible_js.html" -}}
</head>

<body>
    <div class="circles">
        <div>404</div>
        <div>{{ upper (i18n "PageNotFound") }}</div>
        <div><a href="{{ .Site.Home.RelPermalink }}">{{ i18n "BackToHome" }}</a></div>
        <span class="big"></span>
        <span class="med"></span>
        <span class="small"></span>
    </div>
</body>

</html>